@import "_variables.scss";

.Ceylon {
  position: relative;
  height: 20rem;
  width: 20rem;
  padding-top: 6rem;
  padding-bottom: 20rem;
  margin: auto;
  padding-right: 25rem;
}

.Ceylon-picture {
  height: 25rem;
  width: 45rem;
  clip-path: circle();
  transition: all 0.5s;
}

.Ceylon-header {
  font-size: 4rem;
  text-transform: uppercase;
  color: $white;
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Ceylon:hover .Ceylon-header {
  opacity: 1;
  top: 50%;
}
