@import "_variables.scss";

.console-parent {
  width: 60rem;
  height: 40rem;
  padding-top: 6rem;
  margin: auto;
}

.gaming-gallery {
  margin: 3rem;
  position: relative;
}

.console-wars {
  position: absolute;
  height: 18rem;
  width: 30rem;
  box-shadow: 0 1.4rem 1rem rgba(0, 0, 0, 0.4);

  transition: all 0.5s;
}

.console-wars:hover {
  transform: scale(1.25);
  box-shadow: 0 7rem 7rem rgba(0, 0, 0, 0.4);
  outline-offset: 1rem;
  z-index: 2;
}

.console-wars-ps5:hover {
  outline: 0.7rem solid $blue;
}

.console-wars-xbox:hover {
  outline: 0.7rem solid $green;
}

.console-wars-pc:hover {
  outline: 0.7rem solid $grey;
}

.gaming-gallery:hover .console-wars:not(:hover) {
  transform: scale(0.9);
  opacity: 0.5;
}

.console-wars-ps5 {
  top: 18rem;
  left: 20%;
}
.console-wars-xbox {
  top: -2rem;
  right: 0;
}

.console-wars-pc {
  top: 3rem;
  left: 0;
}
