@import "_variables.scss";

.text-effect {
  background-image: url("/Images/rainbow-sq.jpg");
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 6rem;
  transition: all 0.6s;
}
.text-effect:hover {
  transform: translate(5rem, 0);
}
